In [31]:
import pandas as pd

In [32]:
items = pd.read_csv("dataset/items.csv")
keywords = pd.read_csv("dataset/keywords.csv")
merchant = pd.read_csv("dataset/merchant.csv")
transaction_data = pd.read_csv("dataset/transaction_data.csv")
transaction_items = pd.read_csv("dataset/transaction_items.csv")

In [33]:
merged_orders = pd.merge(
    transaction_data,
    transaction_items,
    on="order_id"
)

merged_orders = pd.merge(
    merged_orders,
    items,
    on="item_id"
)

merged_data = pd.merge(
    merged_orders,
    merchant,
    on="merchant_id"
)

In [34]:
selected_columns = ['order_id', 'order_time', 'driver_arrival_time', 'driver_pickup_time', 'delivery_time', 'eater_id', 'merchant_id', 'item_id', 'cuisine_tag', 'item_name', 'item_price', 'merchant_name', 'join_date', 'city_id']

merged_data = pd.DataFrame(merged_data, columns=selected_columns)

In [35]:
merged_data.head()

,order_id,order_time,driver_arrival_time,driver_pickup_time,delivery_time,eater_id,merchant_id,item_id,cuisine_tag,item_name,item_price,merchant_name,join_date,city_id
0,46975df1c,2023-11-07 09:49:00,2023-11-07 09:58:00,2023-11-07 10:06:00,2023-11-07 10:34:00,3411548704,e7a2f,10,French,Mushroom & Herb Crepe,7.50,Crepe Delight,1092021,4
1,7623ebe9d,2023-03-25 15:06:00,2023-03-25 15:12:00,2023-03-25 15:14:00,2023-03-25 15:30:00,4306408630,5f1d3,101,Seafood,Classic Fish & Chips,10.00,Seafood Express,19012021,5
2,7623ebe9d,2023-03-25 15:06:00,2023-03-25 15:12:00,2023-03-25 15:14:00,2023-03-25 15:30:00,4306408630,9a8c5,56,Vegetarian,Lentil Shepherd’s Pie,9.00,Veggie World,31052014,5
3,7623ebe9d,2023-03-25 15:06:00,2023-03-25 15:12:00,2023-03-25 15:14:00,2023-03-25 15:30:00,4306408630,3d9c8,44,Beverage,Plum Soda,2.75,Teriyaki Express,28082016,8
4,01c4be3f6,2023-10-24 06:59:00,2023-10-24 07:17:00,2023-10-24 07:23:00,2023-10-24 07:43:00,4695092599,3b7f0,36,Dessert,Strawberry Frosted Donut,2.00,Donut Palace,11122016,2

In [36]:
merged_data.shape

(2999808, 14)

In [37]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999808 entries, 0 to 2999807
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             object
 1   order_time           object
 2   driver_arrival_time  object
 3   driver_pickup_time   object
 4   delivery_time        object
 5   eater_id             int64
 6   merchant_id          object
 7   item_id              int64
 8   cuisine_tag          object
 9   item_name            object
 10  item_price           float64
 11  merchant_name        object
 12  join_date            int64
 13  city_id              int64
dtypes: float64(1), int64(4), object(9)
memory usage: 320.4+ MB
None

In [38]:
print(merged_data.isnull().sum())

order_id               0
order_time             0
driver_arrival_time    0
driver_pickup_time     0
delivery_time          0
eater_id               0
merchant_id            0
item_id                0
cuisine_tag            0
item_name              0
item_price             0
merchant_name          0
join_date              0
city_id                0
dtype: int64

In [39]:
merged_data.to_csv("dataset/merged_data.csv", index=False)